@using voter.Controllers
@{
    ViewData["Title"] = "Reset";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Results (Reset)</title>
</head>
<body>
    @{
        float tot = @GlobalVariables.add_1 + @GlobalVariables.add_2 + @GlobalVariables.add_3;
    }
    <h2>#1: votes: @GlobalVariables.add_1  @(tot > 0 ? Math.Round(GlobalVariables.add_1 / tot * 100) : 0)%</h2>
    <h2>#2: votes: @GlobalVariables.add_2  @(tot > 0 ? Math.Round(GlobalVariables.add_2 / tot  * 100): 0)%</h2>
    <h2>#3: votes: @GlobalVariables.add_3  @(tot > 0 ? Math.Round(GlobalVariables.add_3 / tot  * 100): 0)%</h2>
    <br>
    @using (Html.BeginForm("ResetPost", "Home", FormMethod.Post)) {
        <input type="submit" name="reset" value="reset" />
    }
</body>
</html>