@using voter.Controllers
@{
    ViewData["Title"] = "Results";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Results</title>
</head>
<body>
    @{
        float tot = @GlobalVariables.add_1 + @GlobalVariables.add_2 + @GlobalVariables.add_3;
    }
    <h2>#1: votes: @GlobalVariables.add_1 <span class="pct">@(tot > 0 ? Math.Round(GlobalVariables.add_1 / tot * 100) : 0)%</span></h2>
    <h2>#2: votes: @GlobalVariables.add_2 <span class="pct">@(tot > 0 ? Math.Round(GlobalVariables.add_2 / tot  * 100): 0)%</span></h2>
    <h2>#3: votes: @GlobalVariables.add_3 <span class="pct">@(tot > 0 ? Math.Round(GlobalVariables.add_3 / tot  * 100): 0)%</span></h2>
    <br>
    @using (Html.BeginForm("ResultsPost", "Home", FormMethod.Post)) {
        <input class="voteagain" type="submit" name="vote again" value="vote again" />
    }
</body>
</html>